@media screen and (min-width: 600px){
  #wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
  }
  .a{
    background-color: rgb(250, 4, 54);
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .b{
    background-color: rgb(221, 17, 95);
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .c{
    background-color: rgb(199, 29, 122);
    grid-column: 3 / 4;
    grid-row: 1;
  }
  .d{
    background-color: rgb(179, 35, 179);
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .e{
    background-color: rgb(131, 40, 158);
    grid-column: 2 / 3;
    grid-row: 2;
  }
  .f{
    background-color: rgb(73, 44, 143);
    grid-column: 3 / 4;
    grid-row: 2;
  }
  .g{
    background-color: rgb(46, 44, 143);
    grid-column: 1 / 2;
    grid-row: 3;
  }
  .h{
    background-color: rgb(44, 99, 143);
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .i{
    background-color: rgb(44, 143, 66);
    grid-column: 3 / 4;
    grid-row: 3;
  }
}

@media screen and (min-width:900px){
  #wrapper{
    display: grid;
    grid-template-columns: 1.05fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 250px 150px;
  }
  .a{
    background-color: rgb(255, 255, 255);
    grid-column: 1 / 6;
    grid-row: 1;
  }
  .b{
    background-color: rgb(223, 223, 223);
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  .c{
    background-color: rgb(190, 190, 190);
    grid-column: 2 / 4;
    grid-row: 2;
  }
  .d{
    background-color: rgb(145, 145, 145);
    grid-column: 4 / 6;
    grid-row: 2;
  }
  .e{
    color:white;
    background-color: rgb(109, 109, 109);
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .f{
    color: white;
    background-color: rgb(73, 73, 73);
    grid-column: 3 / 4;
    grid-row: 3;
  }
  .g{
    color: white;
    background-color: rgb(48, 48, 48);
    grid-column: 4 / 5;
    grid-row: 3;
  }
  .h{
    color: white;
    background-color: rgb(29, 29, 29);
    grid-column: 5 / 6;
    grid-row: 3;
  }
  .i{
    color: white;
    background-color: rgb(0, 0, 0);
    grid-column: 2 / 6;
    grid-row: 4;
  }
}
